@use "sass:math";
@import 'variables';

%texture {
  background-color: #854c30;
  border: 2px solid #140c1c;
  border-radius: 5px;
  box-shadow: 
    8px 13px 13px rgba(4, 0, 0, 0.13),
    inset 2px 2px 0px 2px #d27d2c,
    inset -2px -2px 0px 2px #442434,
    0px 1px 0px #3a1c04,
    0px 2px 0px #3a1c04,
    1px 3px 0px #3a1c04
  ;
  color: #181612;
}

@mixin texture-shadow($depth: 4) {
  $pixels: #{math.div($depth,  2)}px;
  box-shadow: 
    8px 13px 13px rgba(4, 0, 0, 0.13),
    inset $pixels $pixels 0px $pixels #d27d2c,
    inset -#{$pixels} -#{$pixels} 0px $pixels #442434,
    0px #{math.div($depth, 4)}px 0px #3a1c04,
    0px #{math.div($depth, 3)}px 0px #3a1c04,
    1px #{math($depth, 1.75)}px 0px #3a1c04
  ;
}

@mixin paper-texture($depth: 4) {
  $pixels: #{$depth}px;
  $color: darken(#c87c34, 12);
  border: $pixels solid $color;
  box-shadow: none;
}

%make-column {
  display: grid;
  justify-content: space-between;
}

@mixin make-column($column: 1, $gap: 15px) {
  @extend %make-column;
  grid-template-columns: repeat(
    $column,
    calc(#{math.div(100%, $column)} - #{math.div($gap, $column * ($column - 1))})
  );
}
